In [50]:
import plotly.plotly as py
import pandas as pd

In [51]:
py.plotly.tools.set_credentials_file(username='DreamTeam-EPFL', api_key='iLdxssURkeVtg7gNc1jL')

In [52]:
# Load country codes
df_countries_codes = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')[['COUNTRY','CODE']].set_index('COUNTRY')

In [53]:
# Load datasets
## Load panama papers datasets
pp_edges = pd.read_csv('data/panama_papers/panama_papers.edges.csv', low_memory=False)
pp_nodes_address = pd.read_csv('data/panama_papers/panama_papers.nodes.address.csv', low_memory=False)
pp_nodes_entity = pd.read_csv('data/panama_papers/panama_papers.nodes.entity.csv', low_memory=False)
pp_nodes_intermediary = pd.read_csv('data/panama_papers/panama_papers.nodes.intermediary.csv', low_memory=False)
pp_nodes_officer = pd.read_csv('data/panama_papers/panama_papers.nodes.officer.csv', low_memory=False)
## Load UN datasets
un_hdi_components_2014 = pd.read_csv('data/un/hdi_components.csv', low_memory=False)

Let's first have a look at a few of the dataframes

In [54]:
un_hdi_components_2014.head()

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
0,1,Norway,0.944,81.6,17.5,12.6,64992,5
1,2,Australia,0.935,82.4,20.2,13,42261,17
2,3,Switzerland,0.93,83,15.8,12.8,56431,6
3,4,Denmark,0.923,80.2,18.7,12.7,44025,11
4,5,Netherlands,0.922,81.6,17.9,11.9,45435,9

In [55]:
test = un_hdi_components_2014.join(df_countries_codes, on='Country')
test[test['CODE'].isna()]
test.head()

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,CODE
0,1,Norway,0.944,81.6,17.5,12.6,64992,5,NOR
1,2,Australia,0.935,82.4,20.2,13,42261,17,AUS
2,3,Switzerland,0.93,83,15.8,12.8,56431,6,CHE
3,4,Denmark,0.923,80.2,18.7,12.7,44025,11,DNK
4,5,Netherlands,0.922,81.6,17.9,11.9,45435,9,NLD

In [59]:
import pycountry

nan_values = test['CODE'].isna()
input_countries = list(test[nan_values]['Country'].values)
print(input_countries)

countries = {}
for country in pycountry.countries:
    countries[country.name] = country.alpha_3

codes = [countries.get(country, None) for country in input_countries]

test.loc[nan_values, 'CODE'] = codes

test[test['CODE'].isna()]

['Hong Kong, China (SAR)', 'Korea (Republic of)', 'Iran (Islamic Republic of)', 'Venezuela (Bolivarian Republic of)', 'The former Yugoslav Republic of Macedonia', 'Moldova (Republic of)', 'Bolivia (Plurinational State of)', 'Micronesia (Federated States of)', 'Tanzania (United Republic of)', 'Congo (Democratic Republic of the)', "Korea (Democratic People's Rep. of)"]

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,CODE
11,12,"Hong Kong, China (SAR)",0.91,84,15.6,11.2,53959,-2,None
16,17,Korea (Republic of),0.898,81.9,16.9,11.9,33890,13,None
69,69,Iran (Islamic Republic of),0.766,75.4,15.1,8.2,15440,4,None
70,71,Venezuela (Bolivarian Republic of),0.762,74.2,14.2,8.9,16159,-2,None
80,81,The former Yugoslav Republic of Macedonia,0.747,75.4,13.4,9.3,11780,9,None
106,107,Moldova (Republic of),0.693,71.6,11.9,11.2,5223,23,None
118,119,Bolivia (Plurinational State of),0.662,68.3,13.2,8.2,5760,4,None
122,123,Micronesia (Federated States of),0.64,69.1,11.7,9.7,3432,21,None
150,151,Tanzania (United Republic of),0.521,65,9.2,5.1,2411,8,None
175,176,Congo (Democratic Republic of the),0.433,58.7,9.8,6,680,11,None
188,189,Korea (Democratic People's Rep. of),..,70.3,..,..,..,..,None

In [60]:
df_countries_codes

                       CODE
COUNTRY
Afghanistan             AFG
Albania                 ALB
Algeria                 DZA
American Samoa          ASM
Andorra                 AND
Angola                  AGO
Anguilla                AIA
Antigua and Barbuda     ATG
Argentina               ARG
Armenia                 ARM
Aruba                   ABW
Australia               AUS
Austria                 AUT
Azerbaijan              AZE
Bahamas, The            BHM
Bahrain                 BHR
Bangladesh              BGD
Barbados                BRB
Belarus                 BLR
Belgium                 BEL
Belize                  BLZ
Benin                   BEN
Bermuda                 BMU
Bhutan                  BTN
Bolivia                 BOL
Bosnia and Herzegovina  BIH
Botswana                BWA
Brazil                  BRA
British Virgin Islands  VGB
Brunei                  BRN
...                     ...
Sweden                  SWE
Switzerland             CHE
Syria                   SYR
Taiwan                  TWN
Tajikistan              TJK
Tanzania                TZA
Thailand                THA
Timor-Leste             TLS
Togo                    TGO
Tonga                   TON
Trinidad and Tobago     TTO
Tunisia                 TUN
Turkey                  TUR
Turkmenistan            TKM
Tuvalu                  TUV
Uganda                  UGA
Ukraine                 UKR
United Arab Emirates    ARE
United Kingdom          GBR
United States           USA
Uruguay                 URY
Uzbekistan              UZB
Vanuatu                 VUT
Venezuela               VEN
Vietnam                 VNM
Virgin Islands          VGB
West Bank               WBG
Yemen                   YEM
Zambia                  ZMB
Zimbabwe                ZWE

[222 rows x 1 columns]

In [61]:

data = [ dict(
        type = 'choropleth',
        locations = test['CODE'],
        z = test['Human Development Index (HDI)'],
        text = test['Country'],
        colorscale = [[0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
            [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"]],
        autocolorscale = False,
        reversescale = True,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            tickprefix = '%',
            title = 'HDI'),
      ) ]

layout = dict(
    title = 'Test Graph',
    geo = dict(
        showframe = False,
        showcoastlines = False,
        projection = dict(
            type = 'Mercator'
        )
    )
)

fig = dict( data=data, layout=layout )

py.iplot( fig, validate=False)